<!doctype html>
<html lang="en">
{{> _head }}
<body>
<div id="outer-wp">
<div id="inner-wp">

{{> _header }}
{{> body }}
{{> _footer }}

<!-- JS -->
<script type="text/javascript" src="/assets/js/scripts.js"></script>


</div><!-- /#inner-wp -->
</div><!-- /#outer-wp -->
</body>
</html>
